@mixin font($family, $size, $lineHeight) {
  font-family: $family;
  font-size: $size;
  line-height: $lineHeight;
}
.card {
  display: inline-block;
  margin-left: 15%;

  width: 80%;

  background: #ffffff;
  border: 2px solid rgba(45, 97, 232, 0.17);
  border-radius: 4px;

  text-align: right;

  h2 {
    display: inline-block;
    margin: 20px;

    @include font('PT Root UI', 24px, 30px);
    overflow: hidden;

    color: rgba(0, 0, 0, 0.6);

    @media screen and (max-width: 600px) {
      font-size: 22px;
    }
    @media screen and (max-width: 300px) {
      font-size: 15px;
    }
  }
  p {
    width: 60%;
    margin: 20px 10vw;

    @include font('PT Root UI', 16px, 20px);
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: left;

    overflow: hidden;
    color: rgba(0, 0, 0, 0.7);

    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
    @media screen and (max-width: 300px) {
      font-size: 10px;
    }
  }
}
.config-icon {
  color: #a8c6e8;
  padding: 6px;
}
.config {
  display: inline-block;

  border: 1px solid rgba(45, 97, 232, 0.17);
  box-sizing: border-box;
  border-radius: 2px;
}
.task-header {
  display: flex;
  width: 80%;
  margin: 0 10%;

  justify-content: space-between;
  align-items: center;
}
.status-completed {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;

  @include font('PT Root UI', 14px, 18px);
  text-align: right;
  align-items: center;

  border: 0;
  background-color: transparent;

  color: #50e092;
}
.status-done {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;

  width: 56px;
  height: 26px;

  border: 0;
  border-radius: 2px;

  @include font('PT Root UI', 14px, 18px);

  background: #50e092;
}
