@import './desktop.scss';
@import './mobile.scss';

@mixin font($family, $size, $lineHeight) {
  font-family: $family;
  font-size: $size;
  line-height: $lineHeight;
}

.card {
  display: block;
  padding: 15px;

  min-height: 70px;

  background: #ffffff;
  border: 2px solid rgba(45, 97, 232, 0.17);
  border-radius: 4px;

  z-index: 5;

  h2 {
    @include font('PT Root UI', 24px, 30px);
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;

    color: rgba(0, 0, 0, 0.6);
  }

  .card-text {
    padding: 20px 0;
    margin: 0;

    @include font('PT Root UI', 16px, 20px);
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: left;

    overflow: hidden;
    color: rgba(0, 0, 0, 0.7);
  }
}

.config-icon {
  color: #a8c6e8;
  padding: 6px;
}

.config {
  display: inline-block;

  border: 1px solid rgba(45, 97, 232, 0.17);
  box-sizing: border-box;
  border-radius: 2px;
}

.task-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.status-completed {
  display: inline-block;

  @include font('PT Root UI', 14px, 18px);
  text-align: right;
  align-items: center;

  border: 0;
  background-color: transparent;

  outline: none;

  color: #50e092;
}

.status-done {
  display: inline;
  padding: 5px 10px;

  border: 0;
  border-radius: 2px;

  @include font('PT Root UI', 14px, 18px);

  background: #50e092;

  color: #ffffff;
}

.check-icon-done {
  visibility: hidden;
}

.check-icon-completed {
  visibility: visible;
  color: #50e092;
}

.status-button {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.time-duration {
  display: inline-block;
  margin: 0;

  font-family: 'PT Root UI';
  font-size: 14px;
  line-height: 18px;

  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.6);

  opacity: 0.5;
}
