#logo
  display: inline

  h2
    margin: 0
    font-family: 'PT Root UI'
    font-size: 28.5px
    line-height: 36px
    color: rgba(0, 0, 0, 0.6)

#logoVector
  display: flex
  width: 114px
  justify-content: space-between

  #rectangle1
    fill: #50e092

  #rectangle2
    fill: #a8c6e8

  #rectangle3
    fill: rgba(45, 97, 232, 0.17)
