#time-board {
  z-index: 1;
}

@media screen and (min-width: 540px) {
  #time-board {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .time-step {
    padding-right: 65px;
    width: calc(100% - 70px);
    max-width: 560px;
  }
}
@media screen and (max-width: 541px) {
  #time-board {
    width: 100%;
  }
  .time-step {
    width: 100%;
  }
}
