#time-board {
  z-index: 1;

  position: relative;
  display: flex;

  width: 100%;
  height: 100%;
  max-width: 623px;
  
  margin: auto;

  flex-direction: column;
  align-items: center;
}
.time-step {
  width: 100%;
}
