#time-board {
  z-index: 1;
}

@media screen and (min-width: 540px) {
  #time-board {
    width: calc(98% - 55px);
    min-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .time-step{
    width: calc(50% + 80px);
    min-width: 500px;
  }
}
@media screen and (max-width: 541px) {
  #time-board {
    width: 100%;
  }
}