#time-now {
  position: relative;
  top: 2px;

  width: 40px;
  height: 21px;

  background: #ff0000;
  border-radius: 4px 4px 4px 0px;

  font-family: PT Root UI;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
#line-now {
  width: 100%;

  box-sizing: border-box;
  border: 2px solid #ff0000;
}
#current-time{
  position: absolute;
  width: 100%;
  top: 70px;

  z-index: 1;
}