.loginButton {
  margin-top: calc(50vh - 80px - 42px);

  color: #fff;

  border-radius: 5px;
  background-color: #50e092;
}

.login {
  display: flex;
  max-width: 100px;
  
  margin: auto;
  padding: 20px 40px;
  
  flex-direction: column;
}

