.menuIcon
    color: #a8c6e8;
    width: 23px!important;
    height: 26px;

.menu
    padding: 5px;

.menuBackground
    z-index 9999
    position fixed
    left: 0
    top: 0

    width: 100vw
    height 100vh
    
    background-color: rgba(0, 0, 0, 0.3);

.menuList
    width: 80vw
    height 100vh
    max-width 400px

    background-color: #fff


.menuHeader
    border-bottom solid 1px #a8c6e8

.menuBody, .menuHeader
    font-family: 'PT Root UI';
    word-wrap: break-word;
    overflow: hidden;
    font-size: 28.5px;
    line-height: 36px;
    font-weight: normal;
    color: rgba(0,0,0,0.6);

    padding: 17px 25px
    p
        display inline

.offIcon, .backIcon
    color #a8c6e8
    margin-right 26px
    width: 23px
    height 23px