#total-time {
  text-align: right;
  z-index: 15;
}

#start-container,
#end-container {
  display: inline-block;
}

#start-container:hover,
#end-container:hover {
  #time-start,
  #time-end {
    border-radius: 2px;

    box-shadow: 0 0 0 2px rgba(41, 96, 238, 0.73);
  }

  #text-start,
  #text-end {
    color: rgba(41, 96, 238, 0.73);
  }
}

#end-container {
  margin-left: 13px;
}

#text-start {
  width: 33px;
}

#text-end {
  width: 22px;
}

#text-start,
#text-end {
  position: relative;
  top: 8px;
  left: 6px;

  height: 14px;

  padding: 0 5px;
  margin: 0;

  font-family: 'PT Root UI';
  font-size: 11px;
  line-height: 14px;
  text-align: center;

  background-color: #ffffff;
  color: #a8c6e8;
}
#time-start,
#time-end {
  width: auto;
  height: 37px;

  border-radius: 2px;

  font-family: 'PT Root UI';
  font-size: 18px;
  line-height: 23px;

  background-color: #ffffff;
  outline: none;
}

.error {
  border: solid 1px red;
}
.access {
  border: 1px solid rgba(45, 97, 232, 0.17);
}
