.totalTime
  text-align: right
  width: 93px

.startContainer, .endContainer
  display: inline-block

.startContainer, .endContainer
  .textStart, .textEnd
    color: rgba(41, 96, 238, 0.73)

  &:hover
    .timeStart, .timeEnd
      border-radius: 2px
      box-shadow: 0 0 0 2px rgba(41, 96, 238, 0.73)

.endContainer
  margin-left: 13px

.textStart
  width: 33px

.textEnd
  width: 22px

.textStart, .textEnd
  position: relative
  top: 8px
  left: 6px
  height: 14px
  padding: 0 5px
  margin: 0
  font-family: 'PT Root UI'
  font-size: 11px
  line-height: 14px
  text-align: center
  background-color: #ffffff
  color: #a8c6e8

.timeStart, .timeEnd
  width: auto
  height: 37px
  padding-left: 0.5em
  border-radius: 2px
  font-family: 'PT Root UI'
  font-size: 18px
  line-height: 23px
  background-color: #ffffff
  outline: none

.error
  border: solid 1px red

.access
  border: 1px solid rgba(45, 97, 232, 0.17)
