#addButton
  @media screen and (min-width: 451px)
    width: 53px
    height: 53px
    padding: 0
    min-width: 0
    right: 5px
    top: calc(50% - 26px)
    background: #ffffff
    border: 1px solid rgba(45, 97, 232, 0.17)
    box-sizing: border-box
    box-shadow: 0px 3px 8px rgba(62, 127, 173, 0.15)
    border-radius: 70px
    color: #a8c6e8

#textButton
  h2
    @media screen and (min-width: 451px)
      display: none
