#delete {
  position: absolute;
  width: 60px;
  height: 30px;
  right: 94px;
  bottom: 20px;

  width: 56px;
  height: 26px;

  border: solid 1px #fd6161;

  background-color: transparent;
  border-radius: 2px;

  color: #fd6161;
}
