#cards-container {
  display: flex;
  padding-left: 40px;
  padding-right: 0;
  margin: 13px auto 0 auto;

  width: calc(100% - 40px);

  @media screen and (min-width: 540px) {
    width: calc(100% - 40px - 70px);
    max-width: 500px;

    padding-right: 65px;
  }

  flex-direction: column;
}
